[Unit]
Description=Zirak Watcher Service
After=network.target

[Service]
Type=simple
User=USER
Group=USER
WorkingDirectory=WORKING_DIR
Environment="PATH=~/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=~/.local/bin/uv run python watcher.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
